body {
  background-color: #fff; /*#99d6ff*/ 
}

/* Định dạng cơ bản cho toàn bộ App */
.app {
  font-family: 'Newsreader', sans-serif;
  color: #333;
  font-weight: 400;
}

/* Phần Header */
.app-header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  max-height: 50px;
}

.header-left h1 {
  margin: 0;
  color: #426b1f;
  font-weight: 500;
  padding-top: 10px;
  padding-left: 50px;
  font-size: 40px;
}

.header-right {
  display: flex;
  align-items: center;
  margin-right: 70px;
}

.header-right a {
  color: #333;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  padding-top: 5px;
  width: 120px;
  margin-left: 20px;
  margin-right: 10px;
}

.flag {
  width: 60px;
  height: auto;
  margin-right: 5px;
}

.button-reg {
  background: #d3f8b4;
  color: #333;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 17px;
  width: 130px;
  height: 50px;
}

.button-log {
  background: #426b1f;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 17px;
  width: 130px;
  height: 50px;
}

/* Phần nội dung chính */
.main-content {
  margin-top: 10px;
  font-weight: 400;
  font-size: 40px;
  padding-top: 10px;
  padding-left: 70px;
}

.header-container h2 {
  position: relative;
  font-weight: 400;
  padding-bottom: 20px;
  transform: scaleY(1.05);
}

.header-container h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;               
  width: 1750px;             
  height: 2px;             
  background-color: #e6e6e6;  
}

/* Grid chức năng: sắp xếp 6 mục theo dạng lưới */
.function-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; 
  justify-items: center;
  max-width: 1100px; 
  margin-left: 320px;
  margin-top: -18px;
}

/* Định dạng từng mục chức năng */
.function-item {
  display: block;
  border: 2px solid #e6e6e6;
  background-color: #fafaf5;
  color: #333;
  text-align: center;
  width: 300px;         
  height: 230px;        
  border-radius: 10px;  
  padding: 20px;        
  text-decoration: none;
  
  /* Căn chỉnh nội dung (icon và text) vào giữa khung */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.function-item:hover img {
  transform: scale(1.1);
}

.function-item img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  transition: transform 0.2s;
}

.function-item p {
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

.back-button img {
  width: 70px;
  height: 45px;
  margin-right: 90px;
  padding-bottom: 5px;
}