.project-description {
  padding-left: 60px;
  padding-right: 40px;
  border-radius: 8px;
  line-height: 1.8;
  font-size: 28px;
  margin-left: 20px;
  margin-right: 100px;
  margin-bottom: 50px;
  margin-top: 50px;
  position: relative;
  overflow: hidden;
}

.project-description::before {
  content: '“';
  font-size: 100px;
  position: absolute;
  top: -40px;
  left: 0;
  opacity: 0.2;
}

.project-description::after {
  content: '”';
  font-size: 100px;
  position: absolute;
  bottom: -95px;
  right: 0;
  opacity: 0.2;
}

.team-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  border-radius: 10px;
  margin-left: 130px;
  margin-right: 190px;
  background-color: bisque;
  margin-bottom: 40px;
  margin-top: 10px;
}

.team-box h3 {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 40px;
  text-align: center;
}

.team-member {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  background-color: #d3f8b4;
  width: 1000px;
  border-radius: 10px;
  border: #426b1f solid 3px;
}

.user-icon {
  width: 150px;
  height: 150px;
  margin-right: 12px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 20px
}

.member-info {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.name {
  font-weight: bold;
  font-size: 28px;
  color: #333;
  font-family: "Inter", sans-serif;
  margin-top: 0;
}

.info {
  font-size: 25px;
  color: #333;
  margin-top: 15px;
}