.header-right {
    display: flex;
    align-items: center;
    margin-right: 60px;
}

.header-right a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    padding-top: 5px;
    width: 120px;
    margin-left: 20px;
    margin-right: 15px;
  }
  
.flag {
    width: 60px;
    height: auto;
    margin-right: 5px;
}

.user-menu {
  position: relative;
  margin-left: 25px;
}

.user-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid #d3f8b4;
  transition: all 0.3s ease;
  background-color: #d3f8b4;
}

.user-avatar:hover {
  border-color: #426b1f;
}

.user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-dropdown {
  position: absolute;
  top: 70px;
  right: 0;
  background: #fafaf5;
  border: 2px solid #e6e6e6;
  border-radius: 8px;
  padding: 20px;
  min-width: 350px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.user-info {
  margin-bottom: 25px;
}

.user-info h3 {
  color: #333;
  font-size: 20px;
  margin-bottom: 15px;
  font-family: "Inter", sans-serif;
}

.user-info p {
  color: #666;
  font-size: 17px;
  margin-top: 10px;
  font-family: "Inter", sans-serif;
}

.logout-button {
  width: 100%;
  background: #d81f19;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  transition: all 0.3s ease;
}

.logout-button:hover {
  background: #fa716d;
  color: #333;
} 